<!-- Section: Design Block -->
<style>
  .card{
    background-color: transparent !important;
  }
</style>
<section >


  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          The best products <br />
          <span style="color: hsl(218, 81%, 75%)">for your bussiness</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Temporibus, expedita iusto veniam atque, magni tempora mollitia
          dolorum consequatur nulla, neque debitis eos reprehenderit quasi
          ab ipsum nisi dolorem modi. Quos?
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5" style="background-color: #141414;">
            <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->

              <form [formGroup]="userRequestForm" (ngSubmit)="loginSubmitted()">

                <div class="form-outline mb-4">
                  <input #usernameOrEmail formControlName="usernameOrEmail" type="text" id="form3Example3"
                    class="form-control" name="usernameOrEmail" value="" placeholder="usernameOrEmail" required
                    autofocus />
                  <!-- <label class="form-label" for="form3Example3">Email Or UserName</label> -->
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input #password type="password" id="form3Example4" class="form-control" formControlName="password"
                    name="password" value="" placeholder="Password" required />
                  <!-- <label class="form-label" for="form3Example4">Password</label> -->
                </div>

                <!-- Checkbox -->

                <!-- Submit button -->
                <button type="submit" class="btn btn-dark btn-block mb-4" [disabled]="userRequestForm.invalid"
                  type="submit">
                  Sign up
                </button>
              </form>
              <!-- Email input -->


              <!-- Register buttons -->
              <div class="text-center" style="color: white !important;">
                <p>or sign up with</p>





                <button type="button" class="btn btn-dark btn-floating mx-1" (click)="facebookLogin()">
                  <img src="../../assets/photos/icons8-facebook.svg" alt="">
                </button>
				  <button type="button" class="btn btn-dark btn-floating mx-1" >
                  <asl-google-signin-button  >
                  </asl-google-signin-button>
                </button>



              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

