html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
  price */
.card.mb-4.box-shadow
{
  background-color:#141414!important;
}
.btn-primary
{
  background-color: #141414 !important;
  border-color: #141414 !important;
}
.btn-outline-primary
{
  background-color: #141414 !important;
  border-color: #141414 !important;

}
.container-1{
  margin-left: 150px;
  margin-right: 150px;
}
