<div class="trackList">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">TrackId</th>
        <th scope="col">Photo</th>
        <th scope="col">BeatTitle</th>
        <!-- <th scope="col">User Id</th>
        <th scope="col">Track Time</th> -->
        <th scope="col">Track Price</th>
        <!-- <th scope="col">Track</th> -->
        <th scope="col">Track Price</th>
      </tr>
    </thead>
    <tbody>
      <!-- (click)="openFile(track.audioUrl)" -->
      <tr *ngFor="let track of trackDetails">
        <td>{{ track.id }}</td>
        <td>
          <img
            id="trackTableImage"
            class="image_custom"
            src="{{ track.photoUrl }}"
            alt=""
            style="width: 50px; height: 50px; border: 1px solid white"
            (click)="clicked()"
            (click)="resetIndex(track.id)"
            (click)="
              changePlayerByTrack(
                track.photoUrl,
                track.title,
                track.desc,
                track.price
              )
              "
              (click)="openFile3(track.id)"
          />
        </td>

        <td>{{ track.title }}</td>
        <!-- <td>{{ track.userId }}</td>
        <td>{{ track.trackTime }}</td> -->
        <td>{{ track.price }}</td>
        <!-- <td>
          <audio controls id="audio">
            <source src="{{ track.audioUrl }}" type="audio/ogg" />
            <source src="{{ track.audioUrl }}" type="audio/waw" />
          </audio>
        </td> -->
        <td>{{ track.price | currency }}</td>
      </tr>
    </tbody>
  </table>

  <!--#region player  -->
  <div
    class="music-player"
    *ngIf="buttonClicked"
    id="player"
    name="player"
    style="margin-left: 10em; margin-right: 10rem"
  >
    <div class="song-bar">
      <div class="song-infos">
        <div class="image-container">
          <img id="trackPlayerPhoto" />
        </div>
        <div class="song-description">
          <p id="trackPlayerTitle" class="title"></p>
          <p id="trackPlayerName" class="artist"></p>
        </div>
      </div>
      <div class="icons">
        <button
          class="btn btn-dark realdark"
          (click)="clicked3()"
          style="
            border-radius: 25px !important;
            border: 1px solid #141414;
            background-color: #000 !important;
          "
        >
          <i
            class="bi bi-heart"
            [ngClass]="{ 'bi bi-suit-heart-fill': buttonClicked3 == true }"
          ></i>
        </button>

        <div class="btn-group dropup">
          <button
            type="button"
            class="btn btn-dark.realdark"
            style="border-radius: 25px !important; border: 1px solid #141414"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bi bi-three-dots"></i>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Repost</a>
            <a class="dropdown-item">Command</a>
            <a class="dropdown-item">Share</a>
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              routerLink="/Track-Special/{{ this.currentTrackId }}"
              >Go To Track</a
            >
            <a class="dropdown-item">Go To Artist</a>
          </div>
        </div>
        <button
          class="btn btn-primary"
          (click)="clicked3()"
          style="border-radius: 25px !important; border: 1px solid #141414"
          (click)="addToCartToTrackDetail()"
        >
          <i
            class="bi bi-cart4"
            style="color: white !important"
            id="trackPlayerPrice"
          ></i>
        </button>
      </div>
    </div>

    <div class="progress-controller">
      <div class="control-buttons">
        <button
          style="border-radius: 25px !important; border: 1px solid #141414"
          class="btn btn-dark.realdark"
          (click)="skipRandom()"
          (click)="resetPlayerByTrack(this.currentIndex)"
        >
          <i class="bi bi-shuffle"></i>
        </button>
        <button
          style="border-radius: 25px !important; border: 1px solid #141414"
          class="btn btn-dark.realdark"
          (click)="skipStart()"
          (click)="resetPlayerByTrack(currentIndex)"
        >
          <i class="bi bi-skip-start"></i>
        </button>

        <button
          class="btn btn-dark.realdark"
          (click)="clicked2()"
          style="border-radius: 25px !important; border: 1px solid #141414"
        >
          <i
            class="bi bi-play"
            [ngClass]="{
              'bi bi-pause': buttonClicked2 == true,
              'bi bi-play': buttonClicked2 == false
            }"
          ></i>
        </button>
        <button
          style="border-radius: 25px !important; border: 1px solid #141414"
          class="btn btn-dark.realdark"
          (click)="skipEnd()"
        >
          <i class="bi bi-skip-end"></i>
        </button>
        <button
          class="btn btn-dark.realdark"
          (click)="rePlay()"
          style="border-radius: 25px !important; border: 1px solid #141414"
        >
          <i class="bi bi-arrow-counterclockwise"></i>
        </button>
      </div>
      <div
        class="progress-container"
        style="margin-left: 5rem; margin-right: 5rem"
      >
        <span>{{ currentTime }}</span>
        <div class="progress-bar">
          <input
            type="range"
            min="0"
            max="{{ duration }}"
            value="{{ seek }}"
            (input)="setCurrentTime($event)"
            class="form-range mw-100"
            id="audioRange2"
          />
        </div>
        <span>{{ duration2 }}</span>
      </div>
      <div class="other-features">
        <div class="volume-bar">
          <button
            class="btn btn-dark.realdark"
            style="border-radius: 25px !important; border: 1px solid #141414"
          >
            <i class="bi bi-blockquote-left"></i>
          </button>
          <button
            class="btn btn-dark.realdark"
            (click)="mute()"
            (click)="clicked4()"
            style="border-radius: 25px !important; border: 1px solid #141414"
          >
            <i
              class="bi bi-volume-up"
              [ngClass]="{
                'bi bi-volume-off': buttonClicked4 == true,
                'bi bi-volume-up': buttonClicked4 == false
              }"
            ></i>
          </button>

          <div class="progress-bar">
            <input
              type="range"
              min="0"
              max="1"
              step="0.01"
              value="1"
              (input)="setVolume($event)"
              class="form-range"
              id="audioRange"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--#endregion -->
</div>
